:root {
    --text-color: hsl(0, 0%, 80%);
    --bg-color: hsl(0, 0%, 8%);
    --combination-lock-bg: hsl(0, 0%, 15%);
    --final-door-width: 100%;
    --room-image: url("../img/room1.png");
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 12px;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#app {
    background-image: var(--room-image);
    background-size: cover;
    background-position: center;
}

.combination-lock-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 20rem;
    border: 1px solid hsl(0, 0%, 21%);
    border-radius: 6px;
    padding: 4px;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--combination-lock-bg);
}
.combination-lock-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combination-lock-number {
    text-align: center;
}

.log-container {
    background-color: var(--bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 16vw;
    height: 97vh;
    border: 2px solid gray;
    position: relative;
}
.log-new-message-wrapper {
    position: fixed;
    font-size: 20px;
    bottom: 2.5%;
    padding: 5px;
    background-color: hsl(214, 72%, 42%);
}
.log-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px hsla(224, 0%, 3%, 0.35);
}
.log-container::-webkit-scrollbar {
    width: 4px;
    background-color: hsl(216, 0%, 7%);
}
.log-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: hsl(214, 0%, 18%);
}
.log-message {
    padding: 4px 4px 4px 4px;
}
.log-message:nth-child(odd) {
    background-color: hsl(0, 0%, 11%);
}
.log-timestamp {
    opacity: 75%;
    margin-right: 2px;
    margin-left: 2px;
}

.turn-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
.turn-button.right {
    left: auto;
    right: 5px;
}

.placeholder-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 7px hsla(0, 0%, 0%, 1);
}

.box {
    width: 8rem;
    height: 8rem;
    border: 2px solid black;
    border-radius: 6px;
    transition: 160ms;
}
.test-right {
    background-color: hsl(0, 74%, 33%);
}
.test-right:hover {
    box-shadow: 0 0 8px hsl(0, 100%, 62%);
}
.test-left {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    background-color: hsl(214, 72%, 42%);
    transform: translate(25px, -100px);
}
.test-left:hover {
    box-shadow: 0 0 8px hsl(214, 100%, 62%);
}

.selected-item-container {
    height: 64px;
    width: 64px;
    outline: 2px solid pink;
}

.inventory-wrapper {
    border: 2px solid gray;
    border-radius: 4px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(0, 0%, 0%, 0.2);
    backdrop-filter: blur(3px);
}
.inventory-images {
    height: 64px;
    width: 64px;
}

.redbull {
    position: absolute;
    left: 50%;
    bottom: 50%;
    height: 50px;
}

.final-door-wrapper {
    position: absolute;
    width: 10%;
    height: 50%;
    background-color: hsl(230, 13%, 9%);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 4px;
    right: 30%;
    bottom: 20%;
}
.final-door-inner {
    background-color: hsl(227, 13%, 14%);
    box-shadow: 0 0 12px black;
}
.final-door-inner.unlocked {
    height: 100%;
    transform: scaleX(var(--final-door-width));
    transform-origin: top left;
    background-color: hsl(227, 13%, 14%);
    transition: transform 200ms ease-out;
}

.door-key {
    position: absolute;
    top: 150px;
    right: 500px;
    height: 64px;
}

.clock {
    position: absolute;
    height: 90px;
    top: 20%;
    left: 70%;
    filter: drop-shadow(-1px 3px 4px #000000);
}

.rune-sheet {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 32px;
}

.hidden-runes {
    position: absolute;
    top: 40%;
    left: 30%;
    color: #00000050;
    font-size: 32px;
}

.rune-translator {
    transition: 160ms;
    position: absolute;
    bottom: 8%;
    left: 18%;
}

.forground-sheet {
    position: absolute;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    right: 100px;
}
