:root {
    --text-color: hsl(0, 0%, 80%);
    --bg-color: hsl(0, 0%, 8%);
    --combination-lock-bg: hsl(0, 0%, 15%);
    user-select: none;
}

body {
    margin: 12px;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.combination-lock-container {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    border: 1px solid hsl(0, 0%, 21%);
    border-radius: 6px;
    padding: 4px;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--combination-lock-bg);
}
.combination-lock-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combination-lock-number {
    text-align: center;
}

.log-container {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 16vw;
    height: 97vh;
    border: 2px solid gray;
}
.log-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px hsla(224, 0%, 3%, 0.35);
}
.log-container::-webkit-scrollbar {
    width: 4px;
    background-color: hsl(216, 0%, 7%);
}
.log-container::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: hsl(214, 0%, 18%);
}
.log-message {
    padding: 4px 4px 4px 4px;
}
.log-message:nth-child(odd) {
    background-color: hsl(0, 0%, 11%);
}
.log-timestamp {
    opacity: 75%;
    margin-right: 2px;
    margin-left: 2px;
}

.turn-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
.turn-button.right {
    left: auto;
    right: 5px;
}

.placeholder-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    width: 8rem;
    height: 8rem;
    border: 2px solid black;
    border-radius: 6px;
    transition: 160ms;
}
.test-right {
    background-color: hsl(0, 74%, 33%);
}
.test-right:hover {
    box-shadow: 0 0 8px hsl(0, 100%, 62%);
}
.test-left {
    height: 6rem;
    width: 6rem;
    margin-left: 1rem;
    background-color: hsl(214, 72%, 42%);
    transform: translate(25px, -100px);
}
.test-left:hover {
    box-shadow: 0 0 8px hsl(214, 100%, 62%);
}
